@using CMSSolutions.Websites.Extensions
@{   
    Style.IncludeBootstrap(); 
    Style.IncludeJQueryValidate();
    Style.IncludeJQueryvalidationEngine();
    Style.IncludeThemes();

    Script.IncludeJQuery();
    Script.IncludeJQueryValidate();
    Script.IncludeJQueryvalidationEngine(WorkContext.CurrentCulture ?? "vi-VN");
    Script.IncludeBootstrap();
    Script.IncludeThemes();
    if (Request.IsAuthenticated)
    {
        Style.IncludeJQueryUI();
        Style.IncludeFancyBox();
        Style.IncludeTrirandGrid();
        Style.IncludeElfinder();
        Style.IncludeChosen();
        Style.IncludeFullCalendar();
        Style.IncludeColorPicker();
        Style.IncludeFineUploader();
        Style.IncludeIcontFontPicker();

        Script.IncludeFancyBox(); 
        Script.IncludeKnockout();
        Script.IncludeFineUploader();
        Script.IncludeElfinder();
        Script.IncludeTrirandGrid();
        Script.IncludeNotification();
        Script.IncludeEditor(); 
        Script.IncludeChosen();
        Script.IncludeFullCalendar();
        Script.IncludeColorPicker();
        Script.IncludeIcontFontPicker();
        Script.IncludeJQueryUI();
        Script.IncludePlugin();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @RenderMetas()
    @RenderStyles()
    @RenderHeadScripts()

</head>
<body>
    <div id="divWrapContent">
        @Display(WorkContext.Layout.Content)
    </div>

    @RenderFootScripts()

    <script type="text/javascript">
        $(document).ready(function () {
            var height = $("#divWrapContent").height();
            var viewPortHeight = $(window).height() - 50;
            if (height > viewPortHeight) {
                height = viewPortHeight;
            } else {
                if (height > viewPortHeight) {
                    height = viewPortHeight;
                }
            }
            
            parent.top.$.fancybox.current.height = height;
            parent.top.$.fancybox.update();
        });
    </script>
</body>
</html>
