@using CMSSolutions.Websites.Extensions
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="index, follow" />    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewData["Title"]">
    <meta name="keywords" itemprop="keywords" content="">
    <meta name="author" content="">    
    <meta name="copyright" content="">
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon" />   
    <meta http-equiv="Content-Language" content="en">
    
    <title>@ViewData["Title"]</title>

    @RenderMetas()
    @RenderStyles()
    @RenderHeadScripts()   
    
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        
</head>
    <body id="page-top" class="index">

        @Display(WorkContext.Layout.Content) 

        @RenderFootScripts()
    </body>
</html>
